<%= form_for @shop, html: { multipart: true} do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control"  %>
  </div>

    <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control"  %>
  </div>
 
   <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"  %>
  </div>

   <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
