<div class="panel panel-default">
	
	<div class="panel-heading single-shop">
		
		<%= image_tag @shop.image.url%>
		<h2><%= @shop.title %></h2>
		<%= @shop.city %>
	
	</div><!-- /panel-heading -->
	
	<div class="panel-body">
		
		<p><strong>Description</strong></p>
		<p><%= @shop.description %></p>
     
    <p><strong>Link:</strong></p>
		<p><%= link_to "#{@shop.link}", @shop.link, :target => "_blank" %></p>
		     

  </div><!-- /panel-body -->

	


	<div class="panel-footer">

		<%= link_to 'Edit', edit_shop_path(@shop) %> |
		<%= link_to 'Back', shops_path %>

	</div><!-- /panel-footer -->


</div><!-- /panel -->