<h1>Listing products</h1>
<p><%= link_to 'New Product', new_product_path %></p>


    <% @products.each do |product| %>

    <div class="panel panel-default box">
        
        <div class="panel-heading">
         <%= link_to product.shop do%>
            <%= product.shop.title%>
          <% end %>
         
        </div><!-- /panel-heading -->

        <div class="panel-body">
        <%= link_to product do%>
          <%= image_tag product.image.url(:medium)%>
        <% end %>
          
          
        </div><!-- panel-body -->

        <div class="panel-footer">
           <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div><!-- /panel footer -->


   
        
    
      
     

    </div><!-- /panel -->
    
    <% end %>
 
