<h1>Listing locations</h1>

    


    <% @locations.each do |location| %>

    <p>
 
        <%= location.shop_id %>
        <%= location.address %>
        <%= location.latitude %>
        <%= location.longitude %>
        <%= link_to 'Show', location %>
        <%= link_to 'Edit', edit_location_path(location) %>
        

    </p>

      <% end %>


<%= link_to 'New Location', new_location_path %>
