
<p>
  <strong>Shop:</strong>
  <%= @location.shop.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>


<!-- This shows nearby locations -->
<p>
  <strong>Other locations within 5 miles:</strong>
	<% for location in @location.nearbys(15) %>
		<li><%= link_to location.address, location %> (<%= location.distance %>)</li>
	<% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
